
/*Set variables for the main site colours*/
/*$color-dark: #4c61a5;*/
//Set variables for the main site colours
$color-white: rgba(255,255,255,1); //#FFFFFF
$color-black: rgba(0,0,0,1); //#000000
$color-one: rgba(250,162,148,1); //#FAA294
$color-two: rgba(254,101,126,1); //#FE657E
$color-three: rgba(63,197,190,1); //#3FC5BE
$color-four: rgba(58,169,225,1); //#3AA9E1
$color-five: rgba(252,171,98,1); //#FCAB62
$color-six: rgba(235,91,39,1); //#EB5B27
$color-seven: rgba(17,14,22,1); //#110E16
$color-eight: rgba(10,20,23,1); //#0A1417
$color-ten: rgba(10, 10, 10, 1); //#0a0a0a
$show-panel: true;

@font-face {
  font-family: 'Fjalla One', sans-serif;
  src: url(../assets/fonts/FjallaOne-Regular.ttf);
}

@font-face {
  font-family: 'Quicksand-Regular', sans-serif;
  src: url(../assets/fonts/Quicksand-Regular.ttf);
}

@font-face {
  font-family: 'Quicksand-Medium', sans-serif;
  src: url(../assets/fonts/Quicksand-Medium.ttf);
}

//media query mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
      @content;
    }
  }
  
  @mixin mediaMd {
    @media screen and (min-width: 665px) {
      @content;
    }
  }

@mixin mediaLg {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }

@mixin horizontal-list {
  padding: 0;
  text-align: center;
  word-spacing: -1em;
  display: table;
  width: 100%;
  margin: 0;
  li {
    display: inline-block;
    word-spacing: 0;
  }
}

@mixin horizontal-list-padded($vertical, $horizontal) {
  @include horizontal-list;
  li {
    padding: $vertical 0;
    a {
      padding: $vertical $horizontal;
    }
  }
}

/*For use as a relative position controller for images in desktop view
@mixin panel-control {
  @if $show-panel {
    .panel.show {
    }
}
}*/

/*//Set text colour - if required
@function set-text-color($color) {
    @if (lightness($color) > 48) {
      @return #000;
    }
  
    @else {
      @return #fff;
    }
  }*/
