@import "config";

body {
    font-family: 'Quicksand-Regular', sans-serif;
    background: $color-eight !important;
}

header {
    @include mediaSm {
        display: none;
    }

    height: 75px;
}

//Site wide title controller
.section-title {
    color: $color-six;
    padding: 0.5rem;
}

//Seperator & Title line
.boom-line {
    @include boom-line;
    z-index: 1;
}

.boom-title {
    color: $color-six;
    /*width: 10rem;
    height: 2rem;*/
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    top: 3rem;
    background: $color-black;
    z-index: 2;
}

//Gradient surround gradient border for sections
.module-hor {
    @include module-border-hor;
}

//Coloured vertical gradient borders for sections
.module {
    @include module-border;
    color: $color-white;
}


//Top three elements in the News section of index.html
.card {
    border: 0 !important;

    img {
        @include box-shadow;
    }
}

.card-section {
    background-color: $color-nine;
    color: $color-white;
    font-family: 'Quicksand-Regular', sans-serif;
    font-size: 0.8rem;
    /*padding: 0.1rem 0.75rem 0.5rem 0.75rem !important;*/
}

.bio {
    width: 100%;

    p {
        padding-left: 0.5rem;
    }
}

/*This is for the sound wave and section title layout*/
.custom-list-class {
    @include horizontal-list;
    margin-left: 0;
}


//Change footer to horizontal list with padded links (including hover effects):
ul.footer-menu {
    height: 6vh;

    @include horizontal-list-padded(5px, 10px);

    i {
        color: $color-six;
        width: 4vh;
        height: 4vh;
    }

    i:hover {
        color: $color-four;
    }
}


//Button styling for Boom "Go" buttons
button.boom-button, button.boom-button-dark {
    font-family: 'Fjalla One';
    border-radius: 0.7rem;
    padding: .5rem 0.5rem;
    color: $color-six;
    border: solid 2px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg,  $color-five, $color-six);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px $color-white inset;
    }
    
button.boom-button:hover, button.boom-button-dark:hover {
    box-shadow: none;
    color: white;
    }

button.boom-button-dark {
    box-shadow: 2px 1000px 1px $color-black inset;
}

//Coloured panel gradient
.about-box {

    /*@include box-shadow;*/
    .gradient-one-two {
        @include gradient-one-two
    }

    ;

    .gradient-three-four {
        @include gradient-three-four
    }

    ;

    .gradient-five-six {
        @include gradient-five-six
    }

    ;

    .about-tile {
        width: 50%;
        padding: 2.5rem 0.5rem 1rem 0.5rem;
        color: $color-black;
    }
}

//Sound wave
.animation-container {
    @include sound-wave;
}


/*Possible gradient animation for blocks
@-webkit-keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }

    50% {
        background-position: 100% 70%, 0 0;
    }

    100% {
        background-position: 0% 30%, 0 0;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }

    50% {
        background-position: 100% 70%, 0 0;
    }

    100% {
        background-position: 0% 30%, 0 0;
    }
}*/

/*Use for button mixin
@mixin block_set($c:0 auto, $d: block, $e: relative){
    margin: $c;
    display: $d;
    position: $e;
}

#ribbon {
    @include block_set;
    background: url('../images/ribbon.png') no-repeat;
    width: 251px;
    height: 48px;
    top: -38px;
}

//For use with block positioning for desktop view
div {
    @include panel-control;
   
}

//For use in mobile view
.nodisplay {
    display: none;
}

.hidden {
    visibility: hidden;
}

/*Keyframes & Boxshadows for use with the boom speaker affect
@keyframes robot-pulse {
    0% {
        box-shadow: 0 0 0 0px $color-dark;
    }

    100% {
        box-shadow: 0 0 0 30px $color-bright;
    }
}

.imagepulse {
    margin: 3em;
    width: 50%;
    height: 50%;
    background: $color-white;
    border-radius: 50%;
    animation: robot-pulse 1s infinite;
}

/*Grid container - use to change grid items when hovered and contain within required container
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: $color-white;
    padding: 7px;
}


.grid-item {

    &:nth-child(even) {
        background-color: $color-dark;
        border: 1px solid $color-black;
        padding: 20px;
        text-align: center;
    }

    &:nth-child(odd) {
        background-color: $color-bright;
        border: 1px solid $color-black;
        padding: 20px;
        text-align: center;
    }

    &:hover {
        background-color: $color-white;
    }
}

2nd grid with @extend

.extend-container {
    @extend .grid-container;
}

.extend-item {
    @extend .grid-item;
}*/

////////////////Listen page
//Overlay menu full width
.position-left {
    @include mediaSm {
        width: 100vw;
    }
}

//Font-family
@mixin title{
    font-family: 'Fjalla One', sans-serif !important;
    color: $color-six;
    text-align: center;
}

h1 {
    @include title;
    font-size: 2em;
}

h2 {
    @include title;
    font-size: 1.6em;
    display: block;
    padding: 0.7em;
}
h3{
    @include title;
    font-size: 1.3em;
    padding: 0.3em;
}
h4{
    @include title;
    font-size: 1em;
    padding: 0.5em;
    color: $color-white;
}
a {
    font-family: 'Fjalla One', sans-serif !important;
    color: $color-white;
    font-size: 1.1em;

    &:hover {
        color: $color-six;
    }
}
.orange{
    color: $color-six;
}
input {
    font-family: 'Fjalla One', sans-serif !important;
}
//Tabs 
.md-tabs {
    background-color: $color-five;
    text-align: center;
    > {

        .tabs {
            margin: 0;
            border: 0;
            @include gradient-one-two;
            list-style-type: none;
            display: table;
            width: 100%;

            >.tabs-title {
                display: table-cell;
                width: 25%;
                text-align: center;
                display: inline-block;

                &.is-active {
                    >a {
                        color: $color-black;
                        background-color: transparent;
                        outline: none;
                    }

                    &:nth-of-type(1)~.slide {
                        left: calc((100% / 4) * 0);
                    }

                    &:nth-of-type(2)~.slide {
                        left: calc((100% / 4) * 1);
                    }

                    &:nth-of-type(3)~.slide {
                        left: calc((100% / 4) * 2);
                    }

                    &:nth-of-type(4)~.slide {
                        left: calc((100% / 4) * 3);
                    }
                }

                >a {
                    color: $color-white;
                    font-size: 16px;

                    &:hover,
                    &:focus {
                        background: transparent;
                        color:$color-black;
                    }
                }
            }
        }
    }
}

.slide {
    background: $color-five;
    width: calc(100% / 4);
    height: 4px;
    position: relative;
    left: 0;
    top: 52px;
    transition: left 0.3s ease-out;
}

@include mediaSm {
    .slide {
        width: 0;
        height: 0;
    }

    .md-tabs {
        >.accordion {
            margin-left: 0;
            list-style-type: none;

            >.accordion-item>.accordion-title {
                position: relative;
                display: block;
                padding: 1.25rem 1rem;
                border: 0;
                font-size: 0.9rem;
                line-height: 1;
                @include gradient-one-two;
                color: $color-black;

                &:hover {
                    background-color: $color-four;
                    color: $color-nav;
                    outline: none;
                }
            }
        }

        >.accordion> {
            .is-active.accordion-item>a.accordion-title {
                border-bottom: 4px solid $color-five;
                color: $color-white;
            }

            .accordion-item>.accordion-content {
                display: none;
                padding: 1rem;
                border: 0px;
                background-color: #fefefe;
                color: #0a0a0a;
            }
        }
    }

    >.accordion>.accordion-item>.accordion-title:focus {
        background-color: $color-four;
        color: $color-five;
        outline: none;
    }
}  


//Blocks

.callout {
    margin-left: -0.625rem;
    margin-bottom:20px;

    img {
        @include box-shadow;
        border-radius: 10px;
        margin:  20px auto ;
        display:block;
        opacity: .50;
        &:hover{
            opacity:1;
        }
    }
    p{
        display: inline-block;
        margin :5px 10px;
    }
}

.gradient-1 {
    @include gradient-one-two;
}

.gradient-2 {
    @include gradient-three-four;
}

.gradient-3 {
    @include gradient-five-six;
}

.boom-button-white{
    font-family: 'Fjalla One';
    border-radius: 0.7rem;
    padding: .5rem 1.5rem;
    margin-bottom:15px;
    color:$color-white;
    border: solid 2px $color-white;
    background-color: transparent;
    &:hover{
        box-shadow: 2px 2px 0px 0px rgba( $color-eight, .4 ) inset;
        color: $color-white;
    }
    }
.button:hover{
    background-color: rgba( $color-six, 1 )
}

.overlap{
    margin-bottom : -50px;
}