/*Navbar controls*/
@import "config";

.top-bar-container {
    @include mediaSm{
        position:sticky;
    }
}

.off-canvas {
    color: $color-white;
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.title-bar{
    @include mediaSm{
        height:75px;
    }
}
.sticky-test {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}