/*Navbar controls*/
@import "config";

.fa-search {
    color: $color-six;
    margin-top: 0.5rem;
}

#desktop-menu div div div div ul li button {
    background-color: $color-nav;
}

.top-bar-container {
    top: 150px;
    @include mediaSm {
        top:0px;
    }
}

.off-canvas {
    color: $color-white;
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.title-bar{
    @include mediaSm{
        height:75px;
    }
}