@import "config";

//BEGINNING NAVIGATION MENU STYLES====================================================================================================
.off-canvas {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
}

.off-canvas.is-transition-overlap {
    z-index: 200;
}

.top-bar-container,
.off-canvas {
    font-family: 'Fjalla One', sans-serif;

    a {
        color: $color-white;

        &:hover {
            color: $color-six;
        }
    }

    .menu {

        li {
            button {
                color: $color-six;
            }
        }
    }
}

.title-bar {
    background: $color-nav;

}

.sticky-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

//Mobile logo styles
#mobile-logo {
    width: 150px;
}

//This is the customised audio player
$color-white: rgba(255, 255, 255, 0.3);
#audioplayer {
    width: 195px;
    border: 1px solid $color-white;
    border-radius: 15px;
}

#pButton {
    color: $color-six;
}

#timeline {
    width: 70px;
    border-radius: 15px;
    background: $gradient-three-four;

}

#playhead {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: $gradient-five-six;

}

//Sound wave
.animation-container {
    @include sound-wave;
}
//End of customised player

//END NAVIGATION MENU STYLES =================================================================================================================