/*$color-dark: #4c61a5;
$color-dark: #4c61a5;
$color-bright: #d8b91f;
$color-med: #C0C0C0;
$color-white: #fff;
$color-black: #000;
$show-panel: true;*/

//Set variables for the main site colours
$color-white: rgba(255,255,255,1); //#FFFFFF
$color-black: rgba(0,0,0,1); //#000000
$color-one: rgba(250,162,148,1); //#FAA294
$color-two: rgba(254,101,126,1); //#FE657E
$color-three: rgba(63,197,190,1); //#3FC5BE
$color-four: rgba(58,169,225,1); //#3AA9E1
$color-five: rgba(252,171,98,1); //#FCAB62
$color-six: rgba(235,91,39,1); //#EB5B27
$color-seven: rgba(17,14,22,1); //#110E16
$color-eight: rgba(10,20,23,1); //#0A1417

//Set mixins for gradients
@mixin gradient-one-two {
  background-image: linear-gradient(to right, $color-one , $color-two);
}

@mixin gradient-three-four {
  background-image: linear-gradient(to right, $color-three , $color-four);
}

@mixin gradient-five-six {
  background-image: linear-gradient(to right, $color-five , $color-six);
}

@font-face {
  font-family: 'Fjalla One', sans-serif;
  src: url(../assets/fonts/FjallaOne-Regular.ttf);
}

@font-face {
  font-family: 'Quicksand-Regular', sans-serif;
  src: url(../assets/fonts/Quicksand-Regular.ttf);
}

@font-face {
  font-family: 'Quicksand-Medium', sans-serif;
  src: url(../assets/fonts/Quicksand-Medium.ttf);
}

//media query mixins
/*@mixin mediaSm {
    @media screen and (max-width: 500px) {
      @content;
    }
  }
  
  @mixin mediaMd {
    @media screen and (min-width: 665px) {
      @content;
    }
  }

@mixin mediaLg {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }*/

/*For use as a relative position controller for images in desktop view
@mixin panel-control {
  @if $show-panel {
    .panel.show {
    }
}
}*/

//Set text colour - if required
// @function set-text-color($color) {
//     @if (lightness($color) > 48) {
//       @return #000;
//     }
  
//     @else {
//       @return #fff;
//     }
//   }
