// This partial contains all the styles relative to the navbar (so in this case topbar and off canvas menu
@import "config";

.top-bar-container {
    a {
        color: $color-white;

        &:hover {
            color: $color-three;
        }
    }
}

.sticky-test {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.off-canvas {
    background-color: rgba(0, 0, 0, 0.8);

    a {
        color: $color-white;

        &:hover {
            color: $color-three;
        }
    }
}

.title-bar {
    .button {
        color: $color-six;

        &:hover {
            color: $color-three;
        }
    }
}

//Setting variables for transition of the logo
$transition-property: transform;
$transition-duration: 0.25s;
$transition-timing: ease-in-out;
$transition-delay: 0s;

//setting variables for transformation of the logo
$transform-rotation-degrees: 10deg;
$transform-x-translation: 5rem;
$transform-y-translation: 0rem;
$transform-scale: 2;

#logo {
    width: 150px;
    @include mixin-transition;

    &:hover {
        @include mixin-transform;
    }
}

//This is the browser default styles music player
#music-stream {
    //max-width: 245px;
    border: 0.2rem solid $color-six;
    border-radius: 50px;
}

//This is the customised audio player
#audioplayer {
    border: 2px solid $color-six;
    border-radius: 15px;
}

#pButton {
    color: $color-six;
}

#timeline {
    border-radius: 15px;
    background: $gradient-three-four;

}

#playhead {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: $gradient-five-six;

}

//Sound wave
.animation-container {
    @include sound-wave;
}