@import "config";

//BEGINNING NAVIGATION MENU STYLES====================================================================================================
.off-canvas {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
}

.off-canvas.is-transition-overlap {
    z-index: 200;
}

.top-bar-container,
.off-canvas {
    font-family: 'Fjalla One', sans-serif;

    a {
        color: $color-white;

        &:hover {
            color: $color-six;
        }
    }
}

.title-bar {
    background: $color-nav;
}

.sticky-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

//Mobile logo styles
#mobile-logo {
    width: 150px;
}

//This is the customised audio player
#audioplayer {
    width: 195px;
    border: 2px solid $color-six;
    border-radius: 15px;
}

#pButton {
    color: $color-six;
}

#timeline {
    width: 70px;
    border-radius: 15px;
    background: $gradient-three-four;

}

#playhead {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: $gradient-five-six;

}

//Sound wave
.animation-container {
    @include sound-wave;
}

//Start search bar styles
.search-input-animated {
    position: relative;
    min-width: 40px;
    min-height: 40px;
    width: 0%;
    overflow: hidden;
    border-radius: 20px;
    -webkit-transition: width 0.75s;
    -moz-transition: width 0.75s;
    -ms-transition: width 0.75s;
    -o-transition: width 0.75s;
    transition: width 0.75s;

    input {
        text-indent: 5%;
        box-sizing: unset;
    }
}

.searchbox-input {
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    width: 100%;
    margin: 0;
    padding: 0px 55px 0px 20px;
}

.searchbox-icon {
    display: block;
    position: absolute;
    top: 8px;
    left: 10px;
    padding: 0;
    margin: 0;
    outline: 0;
    text-align: center;
    color: $color-six;
    cursor: pointer;

    &:hover {
        color: $color-three;
    }
}

.search-button {
    min-width: 50px;
    width: 5%;
    background-color: $color-white;
    color: $color-six;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    border-left: 1px solid $color-six;
    cursor: pointer;

    &:hover {
        background-color: $color-six;
        color: $color-white;
    }
}

.show-search-button {
    display: block;
}

.searchbox-open {
    width: 100%;
}

//END NAVIGATION MENU STYLES =================================================================================================================