@import "config";

//BEGINNING NAVIGATION MENU STYLES====================================================================================================
$color-black: rgba(0, 0, 0, 0.9);
.off-canvas {
    background-color: $color-black;
    width: 100%;
}

.off-canvas.is-transition-overlap {
    z-index: 200;
}

.top-bar-container,
.off-canvas {
    font-family: 'Fjalla One', sans-serif;

    a {
        color: $color-white;

        &:hover {
            color: $color-six;
        }
    }

    .menu {

        li {
            button {
                color: $color-six;
            }
        }
    }
}

.title-bar {
    background: $color-nav;

}

.sticky-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

//Mobile logo styles
#mobile-logo {
    width: 150px;
}
//END NAVIGATION MENU STYLES =================================================================================================================