/*For use as a relative position controller for images in desktop view
@mixin panel-control {
  @if $show-panel {
    .panel.show {
    }
}
}*/
/*For use as a relative position controller for images in desktop view
@mixin panel-control {
  @if $show-panel {
    .panel.show {
    }
}
}*/
.test {
  border: 1px solid red; }

/*For use as a relative position controller for images in desktop view
@mixin panel-control {
  @if $show-panel {
    .panel.show {
    }
}
}*/
body {
  background: #110e16; }

h1 {
  color: #eb5b27;
  text-transform: uppercase; }

h2 {
  text-transform: uppercase; }

h3 {
  color: #eb5b27; }

/*For use as a relative position controller for images in desktop view
@mixin panel-control {
  @if $show-panel {
    .panel.show {
    }
}
}*/
header {
  background-image: url(../assets/img/BackHeader.png);
  height: 200px; }

.top-bar-container {
  top: 125px; }
  .top-bar-container a {
    color: white; }
    .top-bar-container a:hover {
      color: #3fc5be; }

.off-canvas {
  background-color: rgba(0, 0, 0, 0.8); }
  .off-canvas a {
    color: white; }
    .off-canvas a:hover {
      color: #3fc5be; }

/*For use as a relative position controller for images in desktop view
@mixin panel-control {
  @if $show-panel {
    .panel.show {
    }
}
}*/
.gradiented-box {
  border-radius: 15px; }
  .gradiented-box img {
    border-radius: 15px; }
  .gradiented-box.gradient-one-two {
    background-image: linear-gradient(to right, #faa294, #fe657e); }
  .gradiented-box.gradient-three-four {
    background-image: linear-gradient(to right, #3fc5be, #3aa9e1); }
  .gradiented-box.gradient-five-six {
    background-image: linear-gradient(to right, #fcab62, #eb5b27); }

.img-left {
  position: relative;
  top: 3.5rem;
  left: 1rem; }
  .img-left.box-shadow-one-left {
    -webkit-box-shadow: -0.5rem -0.5rem 0 0 #faa294;
    -moz-box-shadow: -0.5rem -0.5rem 0 0 #faa294;
    box-shadow: -0.5rem -0.5rem 0 0 #faa294; }
  .img-left.box-shadow-two-left {
    -webkit-box-shadow: -0.5rem -0.5rem 0 0 #fe657e;
    -moz-box-shadow: -0.5rem -0.5rem 0 0 #fe657e;
    box-shadow: -0.5rem -0.5rem 0 0 #fe657e; }
  .img-left.box-shadow-three-left {
    -webkit-box-shadow: -0.5rem -0.5rem 0 0 #3fc5be;
    -moz-box-shadow: -0.5rem -0.5rem 0 0 #3fc5be;
    box-shadow: -0.5rem -0.5rem 0 0 #3fc5be; }
  .img-left.box-shadow-four-left {
    -webkit-box-shadow: -0.5rem -0.5rem 0 0 #3aa9e1;
    -moz-box-shadow: -0.5rem -0.5rem 0 0 #3aa9e1;
    box-shadow: -0.5rem -0.5rem 0 0 #3aa9e1; }
  .img-left.box-shadow-five-left {
    -webkit-box-shadow: -0.5rem -0.5rem 0 0 #fcab62;
    -moz-box-shadow: -0.5rem -0.5rem 0 0 #fcab62;
    box-shadow: -0.5rem -0.5rem 0 0 #fcab62; }
  .img-left.box-shadow-six-left {
    -webkit-box-shadow: -0.5rem -0.5rem 0 0 #eb5b27;
    -moz-box-shadow: -0.5rem -0.5rem 0 0 #eb5b27;
    box-shadow: -0.5rem -0.5rem 0 0 #eb5b27; }

.img-right {
  position: relative;
  top: 3.5rem;
  right: 1rem; }
  .img-right.box-shadow-one-right {
    -webkit-box-shadow: 0.5rem -0.5rem 0 0 #faa294;
    -moz-box-shadow: 0.5rem -0.5rem 0 0 #faa294;
    box-shadow: 0.5rem -0.5rem 0 0 #faa294; }
  .img-right.box-shadow-two-right {
    -webkit-box-shadow: 0.5rem -0.5rem 0 0 #fe657e;
    -moz-box-shadow: 0.5rem -0.5rem 0 0 #fe657e;
    box-shadow: 0.5rem -0.5rem 0 0 #fe657e; }
  .img-right.box-shadow-three-right {
    -webkit-box-shadow: 0.5rem -0.5rem 0 0 #3fc5be;
    -moz-box-shadow: 0.5rem -0.5rem 0 0 #3fc5be;
    box-shadow: 0.5rem -0.5rem 0 0 #3fc5be; }
  .img-right.box-shadow-four-right {
    -webkit-box-shadow: 0.5rem -0.5rem 0 0 #3aa9e1;
    -moz-box-shadow: 0.5rem -0.5rem 0 0 #3aa9e1;
    box-shadow: 0.5rem -0.5rem 0 0 #3aa9e1; }
  .img-right.box-shadow-five-right {
    -webkit-box-shadow: 0.5rem -0.5rem 0 0 #fcab62;
    -moz-box-shadow: 0.5rem -0.5rem 0 0 #fcab62;
    box-shadow: 0.5rem -0.5rem 0 0 #fcab62; }
  .img-right.box-shadow-six-right {
    -webkit-box-shadow: 0.5rem -0.5rem 0 0 #eb5b27;
    -moz-box-shadow: 0.5rem -0.5rem 0 0 #eb5b27;
    box-shadow: 0.5rem -0.5rem 0 0 #eb5b27; }

/*For use as a relative position controller for images in desktop view
@mixin panel-control {
  @if $show-panel {
    .panel.show {
    }
}
}*/
footer a {
  color: #eb5b27; }
  footer a:hover {
    color: #3fc5be; }
